body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.comentario {
    background: #f9f9f9;
    padding: 30px;
    border: 1px solid #ddd;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
}

.fecha {
    font-size: 12px;
    color: gray;
}

.boton-eliminar {
    background: rgb(239, 63, 63);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.boton-eliminar:hover {
    background: rgb(86, 2, 2);
}
